@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

body
{
    background-color: #2e9bdc;
}
.header
{
    background-color: rgba(0, 0, 0, 0.6);
}
.home-heading
{
    color: white;
    padding: 10px 5px 10px 5px;
    font-family: Merriweather;
    font-size: 2rem;
}
.logout-btn
{
    border: 2px solid rgba(255, 255, 255, 0.9);
    color: rgba(255, 255, 255, 0.9);
    font-size: 1.1rem;
    font-family: Balsamiq Sans;
    border-radius: 6px;
    cursor: pointer;
    width: fit-content;
    padding: 7px;
    transition-duration: 0.3s;
}
.logout-btn:hover
{
    background-color: rgba(255, 255, 255, 0.9);
    color: #1674aa;
}

@media screen and (max-width: 450px) {
    .logout-btn {
      padding: 4px;
      font-size: 1rem;
      border-radius: 5px;
    }
    .home-heading
    {
        font-size: 1.3rem;
    }
}
@media screen and (max-width: 370px) {
    .logout-btn {
        padding: 3px;
        font-size: 0.85rem;
        border-radius: 4px;
    }
    .home-heading
    {
        font-size: 1.1rem;
    }
}
input
{
    box-shadow: none !important;
    outline: none !important;
}
.valid-input 
{
    outline: none !important;
    border: 3px solid rgb(43, 182, 50) !important;
    box-shadow: 0 0 5px rgb(43, 182, 50) !important;
    
}
.invalid-input 
{
    outline: none !important;
    border: 3px solid rgb(228, 61, 61) !important;
    box-shadow: 0 0 5px rgb(228, 61, 61) !important;
}
.home-link
{
    cursor: pointer;
}
.page-center
{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-container
{
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    font-family: kalam;
    border-radius: 5px;
    box-shadow: 5px 15px 15px 0px rgba(50, 50, 50, 0.52)
}
.send-btn
{
    outline: none;
    border:none;
    border-radius: 3px;
    padding: 4px;
    background-color: rgba(9,127,214,0.9);
    color: white;
    transition-duration: 0.3s;
}